<a href="https://colab.research.google.com/github/donisingh7/Data-science-and-AI-projects/blob/main/Eclat_Association_Rule_Learning_Netflix_Movie_Recommendation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Eclat

## Importing libraries

In [10]:
!pip install apyori

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: apyori in /usr/local/lib/python3.8/dist-packages (1.1.2)

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## Importing dataset

In [4]:
dataset = pd.read_excel('Dataset_master.xlsx', sheet_name='Netflix Movie Recommendation Ec')
transactions = []
for i in range(0, len(dataset)):
  transactions.append([str(dataset.values[i,j]) for j in range(0, 20)])

## Eclat Training on Dataset

In [5]:
from apyori import apriori
rules = apriori(transactions = transactions, min_support = 0.003, min_confidence = 0.2, min_lift = 3, min_length = 2, max_length = 2)

## Visualizing

### Raw Results

In [6]:
results = list(rules)

In [7]:
results

[RelationRecord(items=frozenset({'Black Panther', 'Captain America'}), support=0.003348961821835231, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Captain America'}), items_add=frozenset({'Black Panther'}), confidence=0.2450980392156863, lift=5.153962993648164)]),
 RelationRecord(items=frozenset({'Comedy nights with Kapil', 'Game of thrones'}), support=0.003215003348961822, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Game of thrones'}), items_add=frozenset({'Comedy nights with Kapil'}), confidence=0.2051282051282051, lift=3.1060487855619696)]),
 RelationRecord(items=frozenset({'Comedy nights with Kapil', 'Kanan Gill Comedy'}), support=0.008037508372404554, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Kanan Gill Comedy'}), items_add=frozenset({'Comedy nights with Kapil'}), confidence=0.27149321266968324, lift=4.110946922067313)]),
 RelationRecord(items=frozenset({'Prision Break', 'Game of thrones'}), support=0.004554588077695914, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Game of thrones'}), items_add=frozenset({'Prision Break'}), confidence=0.29059829059829057, lift=4.831439285782269)]),
 RelationRecord(items=frozenset({'Harry Potter 1', 'Harry Potter 2'}), support=0.005760214333556598, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Harry Potter 1'}), items_add=frozenset({'Harry Potter 2'}), confidence=0.3675213675213675, lift=4.642211520384109)]),
 RelationRecord(items=frozenset({'Harry Potter 1', 'The Lord of the rings'}), support=0.005090421969189551, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Harry Potter 1'}), items_add=frozenset({'The Lord of the rings'}), confidence=0.32478632478632474, lift=4.531831615943765)]),
 RelationRecord(items=frozenset({'Harry Potter 2', 'crimes of grindelwald'}), support=0.005760214333556598, ordered_statistics=[OrderedStatistic(items_base=frozenset({'crimes of grindelwald'}), items_add=frozenset({'Harry Potter 2'}), confidence=0.3006993006993007, lift=3.7981730621324528)]),
 RelationRecord(items=frozenset({'inception', 'Interstellar'}), support=0.0159410582719357, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Interstellar'}), items_add=frozenset({'inception'}), confidence=0.3216216216216216, lift=3.26209973560517)]),
 RelationRecord(items=frozenset({'The Wolf of Wall Street', 'inception'}), support=0.0053583389149363695, ordered_statistics=[OrderedStatistic(items_base=frozenset({'The Wolf of Wall Street'}), items_add=frozenset({'inception'}), confidence=0.37735849056603776, lift=3.827420016406891)])]

### Proper Display

In [8]:
def inspect(results):
    movie_1         = [tuple(result[2][0][0])[0] for result in results]
    movie_2         = [tuple(result[2][0][1])[0] for result in results]
    supports    = [result[1] for result in results]
    return list(zip(movie_1, movie_2, supports))
resultsinDataFrame = pd.DataFrame(inspect(results), columns = ['Movie 1', 'Movie 2', 'Support'])

In [9]:
resultsinDataFrame

                   Movie 1                   Movie 2   Support
0          Captain America             Black Panther  0.003349
1          Game of thrones  Comedy nights with Kapil  0.003215
2        Kanan Gill Comedy  Comedy nights with Kapil  0.008038
3          Game of thrones             Prision Break  0.004555
4           Harry Potter 1            Harry Potter 2  0.005760
5           Harry Potter 1     The Lord of the rings  0.005090
6    crimes of grindelwald            Harry Potter 2  0.005760
7             Interstellar                 inception  0.015941
8  The Wolf of Wall Street                 inception  0.005358

In [11]:
resultsinDataFrame.nlargest(n = 10, columns = 'Support')

                   Movie 1                   Movie 2   Support
7             Interstellar                 inception  0.015941
2        Kanan Gill Comedy  Comedy nights with Kapil  0.008038
4           Harry Potter 1            Harry Potter 2  0.005760
6    crimes of grindelwald            Harry Potter 2  0.005760
8  The Wolf of Wall Street                 inception  0.005358
5           Harry Potter 1     The Lord of the rings  0.005090
3          Game of thrones             Prision Break  0.004555
0          Captain America             Black Panther  0.003349
1          Game of thrones  Comedy nights with Kapil  0.003215